<<<<<<< HEAD
<%- include("includes/header"); -%>


<div class="col-sm-9 col-md-10 mt-5">
  <table class="table">
   <thead>
     <tr>
       <th scope="col">Name</th>
       <th scope="col">Year</th>
       <th scope="col">Branch</th>
       <th scope="col">ID</th>
       <th scope="col">Description</th>
       <th scope="col">Symptoms</th>
       <th scope="col">Doctor-Assigned</th>
       <th scope="col">Allergies</th>
       <th scope="col">Assigned Date</th>
       <th scope="col">Mark-Done</th>
     </tr>
   </thead>
   <tbody>
      <%  assigndoctor.forEach(function(assigndoc){ %>
        <tr>
           
            <td>
              <%=assigndoc.name%>
            </td>
            <td>
              <%=assigndoc.year%>
            </td >
            <td>
                <%=assigndoc.branch%>
            </td>
            <td>
              <%=assigndoc.rollnumber%>
            </td>
            <td>
                <%=assigndoc.description%>
            </td>
            <td>
                <%=assigndoc.symptoms%>
            </td>
            <td>
              <%=assigndoc.assignDoctor%>
          </td>
            
          
            <td>
                <%=assigndoc.allergies%>
            </td>
            <td>
                <%=assigndoc.date%>
            </td>
         
        
            
           
           
  <td>
     <!-- <form action="" method="POST" class="d-inline"><input type="hidden" name="id" value=''> -->
       <!-- <button type="butt" class="btn btn-secondary" name="delete" value="Delete"><i class="far fa-trash-alt"></i>
       </button> -->
       <a href="/deleteapointment/<%=assigndoc._id%>" class="btn btn-secondary"><i class="far fa-trash-alt"></i></a>
      </td></tr> 
       <% }); %>
      
     </form>
     </td>
     </tr>
   </tbody> 
 </table>
 </div>
 </div>
 </div>


=======
<%- include("includes/header"); -%>


<div class="col-sm-9 col-md-10 mt-5">
  <table class="table">
   <thead>
     <tr>
       <th scope="col">Name</th>
       <th scope="col">Year</th>
       <th scope="col">Branch</th>
       <th scope="col">ID</th>
       <th scope="col">Description</th>
       <th scope="col">Symptoms</th>
       <th scope="col">Doctor-Assigned</th>
       <th scope="col">Allergies</th>
       <th scope="col">Assigned Date</th>
       <th scope="col">Mark-Done</th>
     </tr>
   </thead>
   <tbody>
      <%  assigndoctor.forEach(function(assigndoc){ %>
        <tr>
           
            <td>
              <%=assigndoc.name%>
            </td>
            <td>
              <%=assigndoc.year%>
            </td >
            <td>
                <%=assigndoc.branch%>
            </td>
            <td>
              <%=assigndoc.rollnumber%>
            </td>
            <td>
                <%=assigndoc.description%>
            </td>
            <td>
                <%=assigndoc.symptoms%>
            </td>
            <td>
              <%=assigndoc.assignDoctor%>
          </td>
            
          
            <td>
                <%=assigndoc.allergies%>
            </td>
            <td>
                <%=assigndoc.date%>
            </td>
         
        
            
           
           
  <td>
     <!-- <form action="" method="POST" class="d-inline"><input type="hidden" name="id" value=''> -->
       <!-- <button type="butt" class="btn btn-secondary" name="delete" value="Delete"><i class="far fa-trash-alt"></i>
       </button> -->
       <a href="/deleteapointment/<%=assigndoc._id%>" class="btn btn-secondary"><i class="far fa-trash-alt"></i></a>
      </td></tr> 
       <% }); %>
      
     </form>
     </td>
     </tr>
   </tbody> 
 </table>
 </div>
 </div>
 </div>


>>>>>>> 8faabe5ef5fe79d0b3989f2c2fbac80f6c0a0529
 <%- include("includes/footer"); -%>