<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Appointment Details</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Font Awesome CSS -->
<script src="https://kit.fontawesome.com/3fed036461.js" crossorigin="anonymous"></script>

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" href="css/custom.css">

<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>


<body class="text-center">
 
 


    <div class="text"><center><h1>Appointment Details</h1></center> </div>
    <br>
<div>
             <center>
                 <table >
                  <table style="width:50%" border="2px">
                    <tr>
                      <th>Name:</th>
                      <td><%=name%></td>
                    </tr>
                    <tr>
                      <th>Email:</th>
                      <td><%=email%></td>
                    </tr>
                    <tr>
                      <th>Branch:</th>
                      <td><%=branch%></td>
                    </tr>
                    <tr>
                      <th>Roll Number:</th>
                      <td><%= rollnumber%></td>
                    </tr>
                   
                    <tr>
                        <th>Mobile:</th>
                        <td><%=  mobile%></td>
                      </tr>
                    <tr>

                      <th>Description:</th>
                      <td><%=description%></td>
                    </tr>
                    <tr>
                      <th>Symptoms:</th>
                      <td><%=symptoms%></td>
                    </tr>
                    <tr>
                      <th>Allergies:</th>
                      <td><%=allergies%></td>
                    </tr>
                    <tr>
                      <th>Year:</th>
                      <td><%=year%></td>
                    </tr>
                    <tr>
                      <th>Date:</th>
                      <td><%=date%></td>
                    </tr>
                   
                 </table>
                 <br><br>
                 <a class="btn btn-success" href="javascript:window.print()">PRINT </a>
             </center>
         </div>
</body>
</html>