<%- include("includes/header"); -%>


 
  <div class="col-sm-5 mt-5 jumbotron">
    <!-- Main Content area Start Last -->
    <form action="/assignDoctor" method="POST">
      <h5 class="text-center">Assign Doctor</h5>
      <div class="form-group">
        <label for="patientName">Name</label>
        <input type="text" class="form-control" id="patientName" value="<%=apointment.name%>" name="patientName" readonly >
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="patientYear">Year</label>
          <input type="text" class="form-control" id="patientYear" value="<%=apointment.year%>" name="patientYear" readonly >
        </div>
        <div class="form-group col-md-4">
          <label for="patientBranch"> Branch</label>
          <input type="text" class="form-control" id="patientBranch" value="<%=apointment.branch%>" name="patientBranch" readonly >
        </div>
        <div class="form-group col-md-4">
          <label for="patientID">Roll Number</label>
          <input type="text" class="form-control" id="patientID" value="<%=apointment.rollnumber%>" name="patientRollNumber"  onkeypress="isInputNumber(event)" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="appointmentDesc">Description</label>
        <input type="text" class="form-control" id="appointmentDesc" value="<%=apointment.description%>" name="appointmentDesc" readonly>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="symptoms">Symptoms</label>
          <input type="text" class="form-control" id="symptoms" value="<%=apointment.symptoms%>" name="symptoms" readonly>
        </div>
        <div class="form-group col-md-6">
          <label for="pastIllness">Past Allergies</label>
          <input type="text" class="form-control" id="pastIllness" value="<%=apointment.allergies%>" name="pastIllness" readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="patientEmail">Email</label>
          <input type="email" class="form-control" id="patientEmail" value="<%=apointment.email%>" name="patientEmail" readonly >
        </div>
        <div class="form-group col-md-4">
          <label for="patientMobile">Mobile</label>
          <input type="text" class="form-control" id="patientMobile" value="<%=apointment.mobile%>" name="patientMobile" 
            onkeypress="isInputNumber(event)" readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="assignDoc">Assigned to Doctor</label>
          <input type="text" class="form-control" id="assignDoc"  name="assignDoc" required>
        </div>
        <div class="form-group col-md-6">
          <label for="appointmentDate">Date</label>
<<<<<<< HEAD
          <input type="date" class="form-control" id="appointmentDate" name="appointmentDate" onchange="validateDate()" required>
=======
          <input type="date" class="form-control" id="appointmentDate" value="<%=apointment.date%>" name="appointmentDate" required>
>>>>>>> 8faabe5ef5fe79d0b3989f2c2fbac80f6c0a0529
        </div>
      </div>
      <div class="float-right">
        <button type="submit" class="btn btn-success" name="assign">Assign</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </div>
    </form>
    <!-- below msg display if required fill missing or form submitted success or failed -->
  </div> <!-- Main Content area End Last -->
  </div> <!-- End Row -->
  </div> <!-- End Container -->
  <!-- Only Number for input fields -->
  <script>
    function isInputNumber(evt) {
      var ch = String.fromCharCode(evt.which);
      if (!(/[0-9]/.test(ch))) {
        evt.preventDefault();
      }
    }
<<<<<<< HEAD
    var today = new Date().toISOString().split('T')[0];
  document.getElementsByName("appointmentDate")[0].setAttribute('min', today);

=======
>>>>>>> 8faabe5ef5fe79d0b3989f2c2fbac80f6c0a0529
  </script>



<%- include("includes/footer"); -%>